<p>Input the form below</p>
<form method="POST" action="/new">
    <input name="author">Author</input>
    <br></br>
    <input name="messages">Message</input>
    <br></br>
    <button>Submit</button>
</form>